.body {
   font-family: 'Roboto';
   color: #212121;
   background-color: #E5E5E5;
}

:root {
   --focus-color: #2196F3;
   --second-line-color: #757575;
}

.logo {
   color: var(--focus-color);
   text-decoration: inherit;
}

.first-line {
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration: inherit;
}

.first-line:hover,
.first-line:focus {
   color: var(--focus-color)
}

.contact {
   text-decoration: inherit;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.02em;
   color: var(--second-line-color);
}

.contact:hover {
   color: var(--focus-color)
}

.buttons-portfolio {
   cursor: pointer;
}
.buttons-portfolio:hover {
   color: #FFFFFF;
   background: var(--focus-color);
}

.h2 {
   font-weight: 700;
   font-size: 18px;
   line-height: 2.0;
}

.p {
font-weight: 400;
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
}

.last {
   background-color: #2F303A;;
}

.last-line {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
text-decoration: inherit;
color: rgba(255, 255, 255, 0.6);
}

.ul.last:nth-child(1) {
   color: #FFFFFF
}

.last-line:hover, 
.last-line:focus {
   color: var(--focus-color)
}
