.body {
   font-family: 'Roboto';
   color: #212121;
   background-color: #E5E5E5;
}

:root {
   --focus-color: #2196F3;
   --second-line-color: #757575;
}

.a:link {
   text-decoration: none;
}

.first-line .link{

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: #212121;
}

.first-line:hover,
.first-line:focus {
   color: var(--focus-color);
}

.first-line-contact .link {
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.02em;
   color: var(--second-line-color);
}

.buttons-portfolio {
   cursor:pointer;

}

.p {
   font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
   
}

.last-line {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
background-color: #2F303A;
}

.last-line .link:hover
.last-line .link:focus {
   color: var(--focus-color);
}
